$background-color: #F0F2F5;
$font-color: #333;
$font-color-secondary: #393939;
$font-color-link: #3399cc;
$ref-color: #F7F6F0;
$nav-color: #A7B3C5;
$contrast-color: #FF90B3;

$radius: 3px;
$space: 1em;
$indent: 1.6em;
$paragraph-end: 1.6em;
$section-end: 4.2em;

@mixin box-shadow {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.09), inset 0px 0px 2px 2px rgba(255, 255, 255, 0.5), inset 0 0 5px 5px rgba(255, 255, 255, 0.4);
}

@mixin color($back-color) {
  $mix-color: teal; // color to mix into $back-color if "mix" is used
  $mix-weight: 95%; // percetage of main color compared to mix-color
  $back-color-lightness: lightness($back-color); // gets the lightness value (0-100) for $back-color
  $back-color-darkness: 100 - lightness($back-color);

  // EFFECTS. Comment out unused master effects.
  // $back-color: lighten($back-color, 30);
  // $back-color: adjust-hue($back-color, $back-color-lightness);
  // $back-color: saturate($back-color, $back-color-darkness); // the darker, the more saturated it will be
  // $back-color: mix($back-color, $mix-color, $mix-weight);
  // $back-color: grayscale($back-color);

  background-color: $back-color; // Apply effects to background

  // $color: lighten($back-color, 40);  // if background is dark, make font-color light
  // text-shadow: 0 1px 1px darken($back-color, 20); // Shadow on light font   
  // @if $back-color-lightness > 30 { 
  //   $color: darken($back-color, 40); // if background is light, make font-color dark 
  //   text-shadow: 0 1px 1px lighten($back-color, 10); // Inset highlight on dark font  
  // }
  // color: $color; // Apply colors to font
}

@import 'typography';
@import 'magnific';

////////////////////////////////////////////////

.top-bar {
  @include color(#222);
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  ul {
    float: right;
    padding: 0.5em;
    margin: 0;
    li {
      color: white;
      display: inline;
      padding: 0.5em;
      a {
        color: white;
      }
    }
  }
}

a.invisible {
  float: right;
  width: 100%;
  height: 20px;
}

.github-link {
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 70px solid $background-color;
  border-right: 70px solid darken($background-color, 5);
  img {
    position: absolute;
    top: 8px;
    left: 36px;
    width: 25px;
    height: auto;
  }
}

.ref {
  margin: 0 $indent $section-end $indent;
  background-color: $ref-color;
  border: 1px solid darken($ref-color, 10);
  padding: $space;
  border-radius: $radius;
  a {
    display: block;
  }
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}


audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}


svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

button,
input {
  line-height: normal;
  /* 1 */
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0px;
  padding: 0px 0 20px 0px;
  background-color: $background-color;
}

.wrapper {
  width: 650px;
  margin: 0 auto;
  position: relative;
}

section img {
  max-width: 100%;
}

blockquote {
  border-left: 1px solid #ffcc00;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

pre {
  padding: 8px 15px;
  background: #333333;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #c7c7c7;
  overflow: auto;
  overflow-y: hidden;
}
pre code {
  margin: 0px;
  padding: 0px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5;
  color: #444;
}

td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #ffcc00;
}
td:first-child {
  border-left: 1px solid #ffcc00;
}

hr {
  border: 0;
  outline: none;
  height: 11px;
  margin: 0 0 20px;
}

dt {
  color: #444;
  font-weight: 700;
}

header {
  padding: 25px 20px 40px 20px;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  background: url(../images/background.png) #4276b6;
  -moz-box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.75);
  -o-box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.75);
  z-index: 99;
  -webkit-font-smoothing: antialiased;
  min-height: 76px;
}
header h1 {
  color: #f3f3f3;
  text-shadow: 0px 2px 0px #235796;
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}
header p {
  color: #d8d8d8;
  text-shadow: rgba(0, 0, 0, 0.2) 0 1px 0;
  font-size: 18px;
  margin: 0px;
}

section {
  width: 590px;
  padding: 2.6em;
  margin: 20px 0;
  margin-top: 70px;
  position: relative;
  background: #fbfbfb;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  // border: 1px solid #cbcbcb;
  @include box-shadow;
}

small {
  font-size: 12px;
}

nav {
  width: 230px;
  position: fixed;
  top: 111px;
  left: 50%;
  margin-left: -580px;
  text-align: right;
}
nav ul {
  list-style: none;
  list-style-image: none;
  font-size: 14px;
  line-height: 24px;
}
nav ul li {
  padding: 5px 0px;
  line-height: 16px;
}

nav ul li.tag-h1 a {
  color: desaturate(lighten($font-color-link, 20), 5);
}

nav ul li.tag-h1.active a {
  font-weight: 700;
  color: $font-color-link;
}

nav ul li.tag-h3.active a {
  font-weight: 700;
  color: $font-color-link;
}

nav ul li.tag-h1 {
  font-size: 1.2em;
}

nav ul li.tag-h2 + .tag-h1 {
  margin-top: 10px;
}

nav ul a {
  color: #666;
}
nav ul a:hover {
  color: #999;
}

footer {
  width: 180px;
  position: fixed;
  left: 50%;
  margin-left: -530px;
  bottom: 20px;
  text-align: right;
  line-height: 16px;
}

@media print, screen and (max-width: 1060px) {
  div.wrapper {
    width: auto;
    margin: 0;
  }

  nav {
    display: none;
  }

  header, section, footer {
    float: none;
  }
  header h1, section h1, footer h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
  }

  #banner {
    width: 100%;
  }
  #banner .downloads {
    margin-right: 60px;
  }
  #banner #logo {
    margin-right: 15px;
  }

  section {
    // border: 1px solid #e5e5e5;
    border-width: 1px 0;
    padding: 20px auto;
    margin: 20px auto 20px;
    max-width: 600px;
  }

  footer {
    text-align: center;
    margin: 20px auto;
    position: relative;
    left: auto;
    bottom: auto;
    width: auto;
  }
}
@media print, screen and (max-width: 720px) {
  body {
    word-wrap: break-word;
  }

  header {
    padding: 20px 20px;
    margin: 0;
  }
  header h1 {
    font-size: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
  }
  header p {
    display: none;
  }

  #banner {
    top: 80px;
  }

  .fork {
    float: right;
  }

  section {
    margin-top: 20px;
    margin-bottom: 0px;
    width: auto;
  }

  header ul, header p.view {
    position: static;
  }
}
@media print, screen and (max-width: 480px) {
  header {
    position: relative;
    padding: 5px 0px;
    min-height: 0px;
  }
  header h1 {
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
  }

  section {
    margin-top: 5px;
  }

  #banner {
    display: none;
  }

  header ul {
    display: none;
  }
}
@media print {
  body {
    padding: 0.4in;
    font-size: 12pt;
    color: #444;
  }
}
@media print, screen and (max-height: 680px) {
  footer {
    text-align: center;
    margin: 20px auto;
    position: relative;
    left: auto;
    bottom: auto;
    width: auto;
  }
}
@media print, screen and (max-height: 480px) {
  nav {
    display: none;
  }

  footer {
    text-align: center;
    margin: 20px auto;
    position: relative;
    left: auto;
    bottom: auto;
    width: auto;
  }
}
