<!doctype html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Process by Magnus-G</title>
    <link rel="stylesheet" href="../stylesheets/styles.css">
    <link rel="stylesheet" href="../stylesheets/pygment_trac.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="../javascripts/magnific.js"></script> 
    <script src="../javascripts/main.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
    <div class="wrapper">
      <nav>
        <ul></ul>
      </nav>
      <section>

              <h5>Design Process</h5>

        <p><em>An attempt to summarize a design process.</em></p>

        <h1>Project Initiation</h1>

        <p><em>A potential client has a problem they want to solve</em></p>

        <ul>
        <li>How will solving this problem help our business?</li>
        <li>Why is our business capable of making this solution a success?</li>
        <li>What are the Unique Selling Points of the client&#39;s idea?</li>
        <li>What is the overall goal of the project?</li>
        <li>What are the moral implications of working with the client? Will we be able to sleep at night?</li>
        <li>Who from the client&#39;s side will be the one contact person with &quot;the final word&quot; during the project?</li>
        <li>What are the deadlines? Are there any milestones? </li>
        </ul>

        <div class="ref">
        <h5>References</h5>
        <a href="http://www.elezea.com/2013/05/one-ux-deliverable/">Unique Selling Points and more</a>
        </div>

        <h1>Framing the problem</h1>

        <h3>Questions for client</h3>

        <h4>Marketing Overview</h4>

        <ul>
        <li>What types of marketing are you currently involved in or practice on a regular basis?</li>
        <li>Do you have a tag line?</li>
        <li>What is your elevator pitch?</li>
        <li>Do you have a mission statement?</li>
        </ul>

        <h4>Marketing Goals and Objectives</h4>

        <ul>
        <li>When it comes to marketing (in general), what are your biggest challenges?</li>
        <li>When it comes to obtaining qualified leads, what are your biggest challenges?</li>
        <li>When it comes to closing leads, what are your biggest challenges?</li>
        <li>Are there any short-term or long-term corporate goals that need to be considered in the website redesign?</li>
        </ul>

        <h4>Product and Service Overview</h4>

        <ul>
        <li>How would you briefly define your product or service offering?</li>
        <li>Do certain products and/or services speak to different type of clients?</li>
        </ul>

        <h4>End Users</h4>

        <ul>
        <li>Who is the end user? What do they know? How tech savvy are they? Do they use old versions of browsers?</li>
        <li>Can the end users be classified into clear “personas” with varying degrees of needs and selection criteria?</li>
        <li>Which user needs are we trying to address? For existing products, what are the shortcomings we need to fix?</li>
        <li>What are the 3 most important tasks for the end user?</li>
        <li>What customer insights do we have available to inform the solution (customer support, analytics, market research, user research, competitive analysis, etc.)?</li>
        <li>At the end of a project or sale or even website visit, how do you qualify it as a success?</li>
        </ul>

        <h4>Competitive Overview</h4>

        <ul>
        <li>List a few competitors that you’d consider benchmark companies?</li>
        <li>What differentiates your company and product from your competitors?</li>
        <li>What about these companies makes then stand apart from others?</li>
        <li>What elements of these companies and/or their online activity would you like to model after in your redesign?</li>
        </ul>

        <h4>Search Overview</h4>

        <ul>
        <li>Based on what you know right now, what keywords or phrases would “you” use to search for your products and/or service offering?</li>
        <li>What search terms are your competitors targeting?</li>
        <li>Of the words you just listed, which ones would you like to target with the new website?</li>
        <li>Do you have existing content that can support these keywords or phrases?</li>
        <li>Does your existing website and content rank for these phrases?</li>
        </ul>

        <h4>Website Current State</h4>

        <ul>
        <li>What does your website currently do well?</li>
        <li>What does your website currently do poorly?</li>
        <li>Are there any aspects of your website that you love?</li>
        <li>Are there any aspects of your website that you hate?</li>
        <li>Is there anything on the current website that needs to be removed entirely?</li>
        <li>Is there anything on the current website that must absolutely stay?</li>
        </ul>

        <h4>Website Future State</h4>

        <ul>
        <li>What is the most important factor of your new website?</li>
        <li>What functional requirements are needed within the new website?</li>
        <li>What visual elements are needed within the new website?</li>
        <li>Are there any brand colors that should be used for the new website?</li>
        <li>What social media elements would you like integrated?</li>
        <li>Do you have a proposed sitemap prepared?</li>
        <li>Do you need a subscription option or other offer?</li>
        <li>Will you be blogging?</li>
        <li>Will you require responsive design (adapts automatically to mobile devices)?</li>
        <li>Is there anything that you would like to have included in the new website that you lack currently?</li>
        </ul>

        <h4>Project Constraints</h4>

        <ul>
        <li>What is proposed date for kicking off your web design project?</li>
        <li>What is you desired date for going live?</li>
        </ul>

        <h4>Content to Assemble</h4>

        <ul>
        <li>High resolution logo</li>
        <li>Content for pages</li>
        <li>Blog posts</li>
        <li>Literature or brochures</li>
        <li>Sales presentations</li>
        <li>Case studies</li>
        <li>Press releases</li>
        <li>Videos or podcasts</li>
        <li>Images</li>
        <li>Testimonials</li>
        <li>Articles</li>
        <li>Events</li>
        <li>Other marketing collateral</li>
        </ul>

        <h4>Context</h4>

        <ul>
        <li>In which context will the service/app be used? How important is responsive design?</li>
        </ul>

        <h3>The framing of the problem</h3>

        <ul>
        <li>Strip down number of tasks as much as possible to focus on a minimally viable product (MVP) </li>
        <li>Summarize the task and see if client agrees.</li>
        <li>This product is like &quot;...&quot; but with a &quot;...&quot; Try finding similarities to other products but point to the Unique Selling Point.</li>
        </ul>

        <div class="ref">
        <h5>References</h5>
        <a href="http://www.web-savvy-marketing.com/2013/03/web-design-projects-50-questions/">50 Questions before a project</a>
        <a href="http://alistapart.com/article/usable-yet-useless-why-every-business-needs-product-discovery">Product Discovery</a>
        <a href="http://viljamis.com/blog/2012/responsive-workflow/">Responsive Workflow</a>
        </div>

        <h1>Research</h1>

        <h4>Preferable product walkthrough</h4>

        <ul>
        <li>Have end users explain how they work to solve the problem at hand.</li>
        <li>Where are they when they use the tool(s)? At home? At work? On the go?</li>
        </ul>

        <h4>Second best product walkthrough</h4>

        <ul>
        <li>Have client show the product, step by step how it&#39;s used.</li>
        <li>If possible, record the walkthrough on video.</li>
        </ul>

        <h4>Mapping</h4>

        <ul>
        <li>What do different areas/parts of the existing design do? E.g. &quot;Provide information&quot;, &quot;Allow for entries&quot; etc.</li>
        <li>Where in the system does the user <strong>get information</strong>? Where does the user <strong>enter information</strong>. i/o.</li>
        <li>Are there areas for interacting with settings and general site specific issues?</li>
        <li>How are these things reflected in the current layout?</li>
        </ul>

        <h1>Journey Maps</h1>

        <p><em>The relationship that unfolds over time between an individual and a system.</em></p>

        <ul>
        <li>Grounded in research (interviews, ethnographic observation, contextual inquiry, surveys)</li>
        <li>Good for workshops with clients</li>
        </ul>

        <h4>Contents of a Journey Map</h4>

        <ul>
        <li>Original user story: Along the timeline, plot out how the system works today.</li>
        <li>How it could be. Next to original story, plot out ideas for how it could be.</li>
        <li>Questions a user might have at a certain point. “Can I trust this retailer?” or “When will my stuff arrive?”</li>
        </ul>

        <div class="ref">
        <h5>References</h5>
        <a href="http://uxmag.com/articles/illustrating-the-big-picture">UXMag </a>
        <a href="http://www.elezea.com/2013/05/one-ux-deliverable/">Unique Selling Points and more</a>
        </div>

        <h1>Fundamental parts of UI</h1>

        <h3>Information</h3>

        <ul>
        <li>Resource: user needs to find something</li>
        </ul>

        <h3>Action</h3>

        <ul>
        <li>User needs to enter or change something</li>
        </ul>

        <h1>Concept work for UI</h1>

        <h3>Brainstorming</h3>

        <h4>Structure and basic rules</h4>

        <ul>
        <li>Main purpose is to get as many ideas as possible. Not as good ideas as possible.</li>
        <li><strong>No criticizing of ideas</strong> during the brainstorm. All ideas are valid no matter how crazy. Criticizing comes later.</li>
        <li>Type out 3 main questions that needs to be answered, e.g. &quot;How can we allow for a good system overview considering we have data X, Y and Z that needs to be in it?&quot;. Ask yourself: &quot;What problem do we need so solve?&quot;.</li>
        <li>No more than 4-5 people in a brainstorming group.</li>
        <li>Use post-it notes to prevent interrupting each other.</li>
        <li>Use thick markers on post-its so the text/sketches are seen from across the room.</li>
        </ul>

        <h4>During brainstorm</h4>

        <ul>
        <li>If stuck on a question, jump to the next.</li>
        </ul>

        <h4>Categorizing after brainstorm session</h4>

        <ul>
        <li>Try to see what overall categories have emerged, e.g. &quot;Navigation&quot;, &quot;CMS&quot;, </li>
        <li>Cluster redundant or similar notes</li>
        <li>Take photos of post-its at the end of the brainstorm.</li>
        </ul>

        <h3>Sketching</h3>

        <ul>
        <li>Pen and paper: Diagrams or screenshots. Draw arrows and text showing what things are and which action leads to what.</li>
        <li>Take photos of sketches and email/post them to the team for feedback.</li>
        <li>Miniature wireframe layouts made in graphics program. Stay way from details.</li>
        </ul>

        <div class="ref">
        <h5>References</h5>
        <a href="http://www.optimalworkshop.com/">Card Sorting Tools and More</a>
        </div>

        <h1>Todo Lists</h1>

        <p><em>Use a tool like <a href="http://trello.com">Trello</a> or <a href="https://www.apptrajectory.com">Trajectory</a> to document stories on cards.</em></p>

        <h3>Ideas</h3>

        <ul>
        <li>State the problem in the title of the card. State who has the problem.</li>
        <li>Post sketches. </li>
        <li>Get client feedback on the card.</li>
        </ul>

        <h3>Tasks</h3>

        <ul>
        <li>Mark each story with the type of task it is (for developer? for designer? for client to answer?)</li>
        <li>Prioritize stories. This is an ongoing task for the client to make sure the most important things are implemented first.</li>
        </ul>

        <h3>Potential topics/categories for todos</h3>

        <ul>
        <li>Ideas</li>
        <li>Discussions</li>
        <li>On Hold</li>
        <li>Up Next</li>
        <li>Done</li>
        <li>Up for review</li>
        <li>Feature Creep (Items added after agreed set of todos)</li>
        </ul>

        <div class="ref">
        <h5>References</h5>
        <a href="http://trello.com">Trello</a>
        </div>

        <h1>Graphic Design</h1>

        <h3>Brand Manuals</h3>

        <ul>
        <li>Does the brand/client/product have a brand style manual? How strict does it have to be followed?</li>
        </ul>

        <h3>Come up with keywords that fit the product</h3>

        <ul>
        <li>Describing the feeling the product should express</li>
        <li>e.g. Strong vs Delicate, Friendly vs Exclusive, Playful vs Serious, Quirky vs Strict, Modern vs Timeless, Simple vs Complex, Clean vs Active/Busy. </li>
        <li>Take screenshots/photos of other sites/objects/products that express this according to you.</li>
        <li>Always get sign-off from client. Make sure <strong>one</strong> person from the client&#39;s side can have the final word to avoid conflicting messages down the road.</li>
        </ul>

        <h3>Typography</h3>

        <ul>
        <li>Find a typeface for body type that fits the keywords</li>
        <li>Use a tool such as <a href="modularscale.com">Modular Scale</a> to set sizes of type and elements</li>
        </ul>

        <h3>Color swatches</h3>

        <ul>
        <li>Select colors that correspond to the keywords</li>
        <li>Use something like <a href="http://colorschemedesigner.com/">Color Scheme Designer</a></li>
        </ul>

        <h3>Element Collages</h3>

        <ul>
        <li>Create <a href="http://danielmall.com/articles/rif-element-collages/">Element Collages</a> and communicate with clients.</li>
        <li>Show a range of elements rather than a full layout to save time. Client gets a feeling for the look and feel and style, not the details or the ixd. Prevents client from focusing on the wrong things.</li>
        <li>Everything will change so don&#39;t believe in there being a &quot;final sketch&quot; in FW/PS.</li>
        </ul>

        <h3>Graphic Design Clichés</h3>

        <ul>
        <li><p>Overlay semitransparent image of texture
        <div class="img-examples">
          <a class="popup" href="images/gfx-examples/texture1.png"><img src="images/gfx-examples/texture1.png" alt=""></a>
        </div></p></li>
        <li><p>Brand color stripe across screen (often on top) to anchor the page.
        <div class="img-examples">
          <a class="popup" href="images/gfx-examples/color-stripe.png"><img src="images/gfx-examples/color-stripe.png" alt=""></a>
        </div></p></li>
        <li><p>Handmade, or hand drawn, elements add contrast and life to a layout.
        <div class="img-examples">
          <a class="popup" href="images/gfx-examples/handmade-contrast.png"><img src="images/gfx-examples/handmade-contrast.png" alt=""></a>
        </div></p></li>
        <li><p>Light area contrasting dark area
        <div class="img-examples">
          <a class="popup" href="images/gfx-examples/light-dark-contrast.png"><img src="images/gfx-examples/light-dark-contrast.png" alt=""></a>
          <a class="popup" href="images/gfx-examples/light-dark-contrast2.png"><img src="images/gfx-examples/light-dark-contrast2.png" alt=""></a>
          <a class="popup" href="images/gfx-examples/light-dark-contrast3.gif"><img src="images/gfx-examples/light-dark-contrast3.gif" alt=""></a>
          <a class="popup" href="images/gfx-examples/light-dark-contrast4.png"><img src="images/gfx-examples/light-dark-contrast4.png" alt=""></a>
          <a class="popup" href="images/gfx-examples/light-dark-contrast5.jpg"><img src="images/gfx-examples/light-dark-contrast5.jpg" alt=""></a>
        </div></p></li>
        <li><p>Blurry image in the back. Sharp graphics in the front.
        <div class="img-examples">
          <a class="popup" href="images/gfx-examples/blur-back.png"><img src="images/gfx-examples/blur-back.png" alt=""></a>
        <a class="popup" href="images/gfx-examples/blur-back2.jpg"><img src="images/gfx-examples/blur-back2.jpg" alt=""></a>
        </div></p></li>
        <li><p>Semi-transparent borders.
        <div class="img-examples">
          <a class="popup" href="images/gfx-examples/semi-transparent-borders.png"><img src="images/gfx-examples/semi-transparent-borders.png" alt=""></a>
        </div></p></li>
        <li><p>Cut-through fat type so you see image in the background, through letter.
        <div class="img-examples">
          <a class="popup" href="images/gfx-examples/texture.jpg"><img src="images/gfx-examples/texture.jpg" alt=""></a>
        </div></p></li>
        <li><p>Contrast 2D elements with 3D elements.
        <div class="img-examples">
          <a class="popup" href="images/gfx-examples/2d-vs-3d.jpg"><img src="images/gfx-examples/2d-vs-3d.jpg" alt=""></a>
        </div></p></li>
        <li><p>Details and/or illustrations in monochrome and mono thick strokes.
        <div class="img-examples">
          <a class="popup" href="images/gfx-examples/monochrome-monothick.png"><img src="images/gfx-examples/monochrome-monothick.png" alt=""></a>
        </div></p></li>
        <li><p>Overprint effect for visual disruption and retro look.
        <div class="img-examples">
          <a class="popup" href="images/gfx-examples/overprint.jpg"><img src="images/gfx-examples/overprint.jpg" alt=""></a>
        </div></p></li>
        <li><p>If something should be big, there needs to be something small to contrast it.</p></li>
        <li><p>Contrast between bold letters and light letters. Headlines.
        <div class="img-examples">
          <a class="popup" href="images/gfx-examples/bold-light2.png"><img src="images/gfx-examples/bold-light2.png" alt=""></a>
        </div></p></li>
        <li><p>Create as few visual &#39;blocks&#39; as possible.</p></li>
        <li><p>Semi-transparent color layer on top of black/white graphics.<br>
        <div class="img-examples">
        <a class="popup" href="images/gfx-examples/color-block.jpg"><img src="images/gfx-examples/color-block.jpg" alt=""></a>
        </div></p></li>
        <li><p>Duotone for images
        <div class="img-examples">
          <a class="popup" href="images/gfx-examples/duotone.jpg"><img src="images/gfx-examples/duotone.jpg" alt=""></a>
        <a class="popup" href="images/gfx-examples/duotone2.jpg"><img src="images/gfx-examples/duotone2.jpg" alt=""></a>
        <a class="popup" href="images/gfx-examples/duotone3.jpg"><img src="images/gfx-examples/duotone3.jpg" alt=""></a>
        </div></p></li>
        <li><p>Gradient overlay for images to create depth, harmony (with other elements), unity (if image is too busy etc).
        <div class="img-examples">
          <a class="popup" href="images/gfx-examples/gradient-overlay.jpg"><img src="images/gfx-examples/gradient-overlay.jpg" alt=""></a>
        </div></p></li>
        </ul>

        <div class="ref">
        <h5>References</h5>
        <a href="modularscale.com">Modular Scale</a>
        <a href="http://colorschemedesigner.com/">Color Scheme Designer</a>
        </div>

              

      {{content}}
      
      </section>
      <footer>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    <script>
    $(document).ready(function(){
      $('.popup').magnificPopup({ 
        type: 'image',
        gallery: {
          enabled: true, // set to true to enable gallery
          preload: [0,2], // read about this option in next Lazy-loading section
          navigateByImgClick: true,
          arrowMarkup: '<button title="%title%" type="button" class="mfp-arrow mfp-arrow-%dir%"></button>', // markup of an arrow button
          tPrev: 'Previous (Left arrow key)', // title for left button
          tNext: 'Next (Right arrow key)', // title for right button
          tCounter: '<span class="mfp-counter">%curr% of %total%</span>' // markup of counter
        }
      });
    });
      
    </script>
  </body>
</html>
