<!doctype html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Noto+Serif:400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Bigshot+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    
    <link rel="shortcut icon" href="favicon.ico" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Process</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="javascripts/magnific.js"></script> 
    <script src="javascripts/main.js"></script>
    <script src="javascripts/scrollspy.js"></script>
    <script src="javascripts/humanize.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body >
  <div class="top-bar">
    <ul>
      <li><a href="http://magnus-g.github.io/Process">Process</a></li>
      <li><a href="http://magnus-g.github.io/Process/type-treatments">Type Treatments</a></li>
      <li><a href="http://magnus-g.github.io/Process/graphic-methods">Graphic Methods</a></li>
      <li><a href="http://magnus-g.github.io/spare_parts/">Spare Parts</a></li>
    </ul>
  </div>

  <nav id="main-nav" class="navbar">
    <ul class="nav navbar-nav"></ul>
  </nav>
  
    <div class="wrapper">
      
      <section>
                   {{content}}
      
      </section>
      <footer>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    
              <script>
                $(window).scroll(function() {
                  $('.animatedElement').each(function(){
                  var imagePos = $(this).offset().top;

                  var topOfWindow = $(window).scrollTop();
                    if (imagePos < topOfWindow+900) {
                      $(this).addClass("slideUp");
                    }
                  });
                });
              </script>
         
    
    <script>
        $(document).ready(function(){
          PositionHighlighter.setup();
          $('.popup').magnificPopup({ 
            type: 'image',
            gallery: {
              enabled: true, // set to true to enable gallery
              preload: [0,2], // read about this option in next Lazy-loading section
              navigateByImgClick: true,
              arrowMarkup: '<button title="%title%" type="button" class="mfp-arrow mfp-arrow-%dir%"></button>', // markup of an arrow button
              tPrev: 'Previous (Left arrow key)', // title for left button
              tNext: 'Next (Right arrow key)', // title for right button
              tCounter: '<span class="mfp-counter">%curr% of %total%</span>' // markup of counter
            }
          });
        });
          
    </script>
  </body>
</html>
