<!doctype html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Noto+Serif:400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Bigshot+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    
    <link rel="shortcut icon" href="favicon.ico" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Process</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="javascripts/magnific.js"></script> 
    <script src="javascripts/main.js"></script>
    <script src="javascripts/scrollspy.js"></script>
    <script src="javascripts/humanize.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body >
  <div class="top-bar">
    <ul>
      <li><a href="http://magnus-g.github.io/Process">Process</a></li>
      <li><a href="http://magnus-g.github.io/Process/type-treatments">Type Treatments</a></li>
      <li><a href="http://magnus-g.github.io/Process/graphic-methods">Graphic Methods</a></li>
    </ul>
  </div>

  <nav id="main-nav" class="navbar">
    <ul class="nav navbar-nav"></ul>
  </nav>
  
    <div class="wrapper">
      
      <section>
      
      
                   <h1 class="title process stretchRight"> A Web Design Process</h1>

      <p><a href="https://github.com/Magnus-G/Process/edit/gh-pages/index.md#fullscreen_blob_contents" class="invisible"></a></p>

      <h2>Project Initiation</h2>

      <p><p class="intro">
      A potential client has a problem they want to solve. Before the project starts, find out about budget etc, along with the following:
      <p></p>

      <h3>Project Overview</h3>

      <ul>
      <li>How will solving this problem help our business?</li>
      <li>Why is our business capable of making this solution a success?</li>
      <li>What are the Unique Selling Points of the client&#39;s idea?</li>
      <li>What is the overall goal of the project?</li>
      <li>What are the moral implications of working with the client? Will we be able to sleep at night?</li>
      <li>Who from the client&#39;s side will be the one contact person with &quot;the final word&quot; during the project?</li>
      <li>What are the deadlines? Are there any milestones? </li>
      </ul>

      <h3>Project Diagram</h3>

      <ul>
      <li>Use a mindmapping tool to create a diagram of the project.</li>
      <li>Nodes can be known parts of the design problem or questions to bring to initial client meeting.</li>
      <li>Create nodes for end-users and their needs, client and their needs.</li>
      </ul>

      <div class="ref">
      <h5>References</h5>
      <a href="http://www.elezea.com/2013/05/one-ux-deliverable/">Unique Selling Points and more</a>
      <a href="http://headscape.co.uk/kickoff/">Checklist from Headscape</a>
      </div>

      <h2>Framing the problem</h2>

      <p><p class="intro">
      Meet with the client, preferably in person, and interview them around the following questions.
      <p></p>

      <h3>Questions for client</h3>

      <h4>Marketing Overview</h4>

      <ul>
      <li>What types of marketing are you currently involved in or practice on a regular basis?</li>
      <li>Do you have a tag line?</li>
      <li>What is your elevator pitch?</li>
      <li>Do you have a mission statement?</li>
      </ul>

      <h4>Marketing Goals and Objectives</h4>

      <ul>
      <li>When it comes to marketing (in general), what are your biggest challenges?</li>
      <li>When it comes to obtaining qualified leads, what are your biggest challenges?</li>
      <li>When it comes to closing leads, what are your biggest challenges?</li>
      <li>Are there any short-term or long-term corporate goals that need to be considered in the website redesign?</li>
      </ul>

      <h4>Product and Service Overview</h4>

      <ul>
      <li>How would you briefly define your product or service offering?</li>
      <li>Do certain products and/or services speak to different type of clients?</li>
      </ul>

      <h4>End Users</h4>

      <ul>
      <li>Who is the end user? What do they know? How tech savvy are they? Do they use old versions of browsers?</li>
      <li>Can the end users be classified into clear “personas” with varying degrees of needs and selection criteria?</li>
      <li>Which user needs are we trying to address? For existing products, what are the shortcomings we need to fix?</li>
      <li>What are the 3 most important tasks for the end user?</li>
      <li>What customer insights do we have available to inform the solution (customer support, analytics, market research, user research, competitive analysis, etc.)?</li>
      <li>At the end of a project or sale or even website visit, how do you qualify it as a success?</li>
      <li>In which context will the service/app be used? How important is responsive design?</li>
      </ul>

      <h4>Competitive Overview</h4>

      <ul>
      <li>List a few competitors that you’d consider benchmark companies?</li>
      <li>What differentiates your company and product from your competitors?</li>
      <li>What about these companies makes then stand apart from others?</li>
      <li>What elements of these companies and/or their online activity would you like to model after in your redesign?</li>
      </ul>

      <h4>Search Overview</h4>

      <ul>
      <li>Based on what you know right now, what keywords or phrases would “you” use to search for your products and/or service offering?</li>
      <li>What search terms are your competitors targeting?</li>
      <li>Of the words you just listed, which ones would you like to target with the new website?</li>
      <li>Do you have existing content that can support these keywords or phrases?</li>
      <li>Does your existing website and content rank for these phrases?</li>
      </ul>

      <h4>Website Current State</h4>

      <ul>
      <li>What does your website currently do well?</li>
      <li>What does your website currently do poorly?</li>
      <li>Are there any aspects of your website that you love?</li>
      <li>Are there any aspects of your website that you hate?</li>
      <li>Is there anything on the current website that needs to be removed entirely?</li>
      <li>Is there anything on the current website that must absolutely stay?</li>
      </ul>

      <h4>Website Future State</h4>

      <ul>
      <li>What is the most important factor of your new website?</li>
      <li>What functional requirements are needed within the new website?</li>
      <li>What visual elements are needed within the new website?</li>
      <li>Are there any brand colors that should be used for the new website?</li>
      <li>What social media elements would you like integrated?</li>
      <li>Do you have a proposed sitemap prepared?</li>
      <li>Do you need a subscription option or other offer?</li>
      <li>Will you be blogging?</li>
      <li>Will you require responsive design (adapts automatically to mobile devices)?</li>
      <li>Is there anything that you would like to have included in the new website that you lack currently?</li>
      </ul>

      <h4>Project Constraints</h4>

      <ul>
      <li>What is proposed date for kicking off your web design project?</li>
      <li>What is you desired date for going live?</li>
      </ul>

      <h4>Content to Assemble</h4>

      <ul>
      <li>High resolution logo</li>
      <li>Content for pages</li>
      <li>Blog posts</li>
      <li>Literature or brochures</li>
      <li>Sales presentations</li>
      <li>Case studies</li>
      <li>Press releases</li>
      <li>Videos or podcasts</li>
      <li>Images</li>
      <li>Testimonials</li>
      <li>Articles</li>
      <li>Events</li>
      <li>Other marketing collateral</li>
      <li>Set up Dropbox or equivalent for quick sharing of files</li>
      </ul>

      <h3>The Client and the designer</h3>

      <ul>
      <li>The client should work closely with the designer and developer. Answer their questions quickly to prevent road blocks.</li>
      <li>Focus on problems, not solutions. If a problem is stated, the designer can suggest a solution. Everyone needs to know <strong>why</strong> something should change so always explain why something is bad.</li>
      <li><strong>Never ask a client what they think of the design</strong>. Ask them instead how they believe their users will react to the design or whether it meets their business objectives.</li>
      </ul>

      <h3>The framing of the problem</h3>

      <ul>
      <li>Strip down number of tasks as much as possible to focus on a minimally viable product (MVP) </li>
      <li>Summarize the task and see if client agrees.</li>
      <li>This product is like &quot;...&quot; but with a &quot;...&quot; Try finding similarities to other products but point to the Unique Selling Point.</li>
      </ul>

      <div class="ref">
      <h5>References</h5>
      <a href="http://www.web-savvy-marketing.com/2013/03/web-design-projects-50-questions/">50 Questions before a project</a>
      <a href="http://alistapart.com/article/usable-yet-useless-why-every-business-needs-product-discovery">Product Discovery</a>
      <a href="http://viljamis.com/blog/2012/responsive-workflow/">Responsive Workflow</a>
      <a href="http://www.smashingmagazine.com/2011/05/06/how-to-get-sign-off-for-your-designs/
      ">The Client's Role</a>
      </div>

      <h2>Research &amp; Learning</h2>

      <p><p class="intro">
      Getting on the same page as the client, learning about end users, understanding the context for the product, understanding why the product is important and how it should work.
      <p></p>

      <h3>Product walkthrough</h3>

      <h4>Preferable product walkthrough</h4>

      <ul>
      <li>Have end users explain how they work to solve the problem at hand.</li>
      <li>Where are they when they use the tool(s)? At home? At work? On the go?</li>
      </ul>

      <h4>Second best product walkthrough</h4>

      <ul>
      <li>Have client show the product, step by step how it&#39;s used.</li>
      <li>If possible, record the walkthrough on video.</li>
      </ul>

      <h4>Mapping</h4>

      <ul>
      <li>What do different areas/parts of the existing design do? E.g. &quot;Provide information&quot;, &quot;Allow for entries&quot; etc.</li>
      <li>Where in the system does the user <strong>get information</strong>? Where does the user <strong>enter information</strong>. i/o.</li>
      <li>Are there areas for interacting with settings and general site specific issues?</li>
      <li>How are these things reflected in the current layout?</li>
      </ul>

      <h3>Journey Maps</h3>

      <ul>
      <li>&quot;The relationship that unfolds over time between an individual and a system.&quot;</li>
      <li>Grounded in research (interviews, ethnographic observation, contextual inquiry, surveys).</li>
      <li>Good for workshops with clients.</li>
      <li><strong>Content of map</strong>: Original user story: Along the timeline, plot out how the system works today.</li>
      <li><strong>Content of map</strong>: How it could be. Next to original story, plot out ideas for how it could be.</li>
      <li><strong>Content of map</strong>: Questions a user might have at a certain point. “Can I trust this retailer?” or “When will my stuff arrive?”</li>
      <li>Examples of journey maps:</li>
      </ul>

      <div class="img-examples">
      <a class="popup" href="images/research/journey-map1.jpg"><img src="images/research/journey-map1.jpg" alt=""></a>
      <a class="popup" href="images/research/journey-map2.jpg"><img src="images/research/journey-map2.jpg" alt=""></a>
      <a class="popup" href="images/research/journey-map3.jpg"><img src="images/research/journey-map3.jpg" alt=""></a>
      <a class="popup" href="images/research/journey-map4.jpg"><img src="images/research/journey-map4.jpg" alt=""></a>
      </div>

      <h3>Feature list</h3>

      <ul>
      <li>Which features (maps, search, filters, product gallery, navigation, etc) need to be in the product? Bear MVP (minimal viable product) in mind.</li>
      <li>Which features are &quot;nice to have&quot; but not essential for the product?</li>
      <li>Avoid making layouts or coming up with solutions at this stage. Focus on creating an &quot;inventory&quot; for the product.</li>
      </ul>

      <div class="ref">
      <h5>References</h5>
      <a href="http://uxmag.com/articles/illustrating-the-big-picture">UXMag </a>
      <a href="http://www.elezea.com/2013/05/one-ux-deliverable/">Unique Selling Points and more</a>
      <a href="http://customerexperienceplanning.com/2012/04/11/customer-journey-mapping-part-i-the-basics/
      ">Journey Maps</a>
      </div>

      <h2>Concept work for UI</h2>

      <p><p class="intro">
      Start working on a concept level, finding metaphors, similarities to other interfaces and systems, move quickly between concepts, don&#39;t get stuck on one solution. <strong>Explore, don&#39;t refine</strong>.
      <p></p>

      <div class="img-examples">
      <a class="popup" href="images/concept/refine-vs-explore.png"><img src="images/concept/refine-vs-explore.png" alt=""></a>
      </div>

      <h3>Brainstorming</h3>

      <h4>Structure and basic rules</h4>

      <ul>
      <li>Main purpose is to get as many ideas as possible. Not as good ideas as possible.</li>
      <li><strong>No criticizing of ideas</strong> during the brainstorm. All ideas are valid no matter how crazy. Criticizing comes later.</li>
      <li><strong>Idea Generation Brainstorm</strong>: Type out 3 main questions that needs to be answered, e.g. &quot;How can we allow for a good system overview considering we have data X, Y and Z that needs to be in it?&quot;. Ask yourself: &quot;What problem do we need so solve?&quot;.</li>
      <li><strong>Problem Exploration Brainstorm</strong>: Ask &quot;what problems do you encounter in the kitchen?&quot; Rather than &quot;What new products for the kitchen can you come up with?&quot; Break topics down if needed (cooking, cleaning, staorage).</li>
      <li>No more than 4-5 people in a brainstorming group.</li>
      <li>Use post-it notes to prevent interrupting each other.</li>
      <li>Use thick markers on post-its so the text/sketches are seen from across the room.</li>
      </ul>

      <h4>During brainstorm</h4>

      <ul>
      <li>If stuck on a question, jump to the next.</li>
      <li>Don&#39;t &quot;stand still&quot; or linger too long. Ideas should be born from the existing ones and from the main questions.</li>
      </ul>

      <h4>Categorizing after brainstorm session</h4>

      <ul>
      <li>Try to see what overall categories have emerged, e.g. &quot;Navigation&quot;, &quot;CMS&quot;, </li>
      <li>Cluster redundant or similar notes</li>
      <li>Take photos of post-its at the end of the brainstorm.</li>
      </ul>

      <h3>Sketching</h3>

      <ul>
      <li>Pen and paper: Diagrams or screenshots. Draw arrows and text showing what things are and which action leads to what.</li>
      <li>Take photos of sketches and email/post them to the team for feedback.</li>
      </ul>

      <div class="img-examples">
      <a class="popup" href="images/concept/hand-sketch1.jpg"><img src="images/concept/hand-sketch1.jpg" alt=""></a>
      <a class="popup" href="images/concept/hand-sketch2.jpg"><img src="images/concept/hand-sketch2.jpg" alt=""></a>
      <a class="popup" href="images/concept/hand-sketch4.jpg"><img src="images/concept/hand-sketch4.jpg" alt=""></a>
      </div>

      <h3>Wireframes</h3>

      <ul>
      <li>Black and white, maybe grayscale</li>
      <li>Make miniature wireframes for quick and holistic explorations that let you go through possible layout and style solutions.</li>
      </ul>

      <div class="img-examples">
      <a class="popup" href="images/concept/mini-wireframe1.jpg"><img src="images/concept/mini-wireframe1.jpg" alt=""></a>
      <a class="popup" href="images/concept/mini-wireframe2.jpg"><img src="images/concept/mini-wireframe2.jpg" alt=""></a>
      <a class="popup" href="images/concept/wireframe1.gif"><img src="images/concept/wireframe1.gif" alt=""></a>
      <a class="popup" href="images/concept/wireframe2.gif"><img src="images/concept/wireframe2.gif" alt=""></a>
      </div>

      <h3>Card Sorting</h3>

      <ul>
      <li>When you know which sections the system will have but need to find out how they should be hierarchically ordered and sorted.</li>
      </ul>

      <h3>Usability Testing</h3>

      <ul>
      <li>Recommended: Once a month with a group of three participants.</li>
      <li>Start earlier than you think makes sense, even if all you have are sketches or wireframes.</li>
      </ul>

      <h4>Recruiting</h4>

      <ul>
      <li>Recruit loosely. It’s ideal to get participants who are similar to the intended users of the site, but it’s not a requirement.</li>
      <li>Recruit participants via <a href="http://www.craigslist.com">craigslist</a> or a recruiting firm.</li>
      <li>Call the participants to make sure they are qualified. </li>
      <li>A few days before the session, follow up with a reminder email.</li>
      </ul>

      <h4>Preparation of tests</h4>

      <ul>
      <li>Come up with tasks for people to try, turn these into scenarios e.g. &quot;Book an appointment online&quot;.</li>
      <li>You’ll determine the tasks/scenarios to test by figuring out what the most critical tasks on your site are, the ones that people should definitely be able to do well when using your site.</li>
      </ul>

      <h4>During the test</h4>

      <ul>
      <li>The moderator presents the company, explains that the test is voluntary,  the site that will be tested, and what we’ll be doing during the test. </li>
      <li>The moderator has the participant sign a release form. </li>
      <li>The moderator asks the tester a few pre-test questions and records their answers.</li>
      <li>Use a tool such as <a href="http://silverbackapp.com/">Silverback</a> to record the session.</li>
      <li><strong>The entire team working on the project</strong> should try to watch the sessions in real time via screen sharing. </li>
      </ul>

      <h4>After the test</h4>

      <ul>
      <li>After the sessions, the moderator and observers will make a list of the 10 most important problems that the testing revealed. They will be prioritized and a plan made for how to fix them before the next round of usability testing.</li>
      <li>When fixing problems, always do the least you can do. Think about what the smallest thing you can do to fix the problem is and do that.</li>
      </ul>

      <div class="ref">
      <h5>References</h5>
      <a href="http://www.optimalworkshop.com/">Card Sorting Tools and More</a>
      <a href="http://playbook.thoughtbot.com/understanding-design/usability-testing/">Usability Testing at thoughtbot</a>
      <a href="http://www.amazon.com/Rocket-Surgery-Made-Easy-Do-It-Yourself/dp/0321657292">Steve Krug’s book Rocket Surgery Made Easy</a>
      <a href="http://www.peachpit.com/promotions/promotion.aspx?promo=137602">Usability test example video</a>
      <a href="http://insideintercom.io/wireframing-for-web-apps/">Wireframes</a>
      <a>Grapic Design Thinking</a>
      </div>

      <h2>Project Management</h2>

      <p><p class="intro">
      Use a tool like <a href="http://trello.com">Trello</a> or <a href="https://www.apptrajectory.com">Trajectory</a> to document stories on cards.
      <p></p>

      <h3>Listing Ideas</h3>

      <ul>
      <li>State the problem in the title of the card. State who has the problem.</li>
      <li>Post sketches. </li>
      <li>Get client feedback on the card.</li>
      </ul>

      <h3>Tasks</h3>

      <ul>
      <li>Mark each story with the type of task it is (for developer? for designer? for client to answer?)</li>
      <li>Prioritize stories. This is an ongoing task for the client to make sure the most important things are implemented first.</li>
      </ul>

      <h3>Potential topics/categories for todos</h3>

      <ul>
      <li>Ideas</li>
      <li>Discussions</li>
      <li>On Hold</li>
      <li>Up Next</li>
      <li>Done</li>
      <li>Up for review</li>
      <li>Feature Creep (Items added after agreed set of todos)</li>
      </ul>

      <div class="ref">
      <h5>References</h5>
      <a href="http://trello.com">Trello</a>
      </div>

      <h2>General Style</h2>

      <p><p class="intro">
      Develop the general look and feeling for the style.
      <p></p>

      <h3>Brand Manuals</h3>

      <ul>
      <li>Does the brand/client/product have a brand style manual? How strict does it have to be followed?</li>
      </ul>

      <h3>Come up with keywords that fit the product</h3>

      <ul>
      <li>Describing the feeling the product should express</li>
      <li>e.g. Strong vs Delicate, Friendly vs Exclusive, Playful vs Serious, Quirky vs Strict, Modern vs Timeless, Simple vs Complex, Clean vs Active/Busy. </li>
      <li>Take screenshots/photos of other sites/objects/products that express this according to you.</li>
      <li>Always get sign-off from client. Make sure <strong>one</strong> person from the client&#39;s side can have the final word to avoid conflicting messages down the road.</li>
      </ul>

      <h3>Color swatches</h3>

      <ul>
      <li>Select colors that correspond to the keywords</li>
      <li>Use something like <a href="http://colorschemedesigner.com/">Color Scheme Designer</a>.</li>
      </ul>

      <h3>Style Tile or Element Collages</h3>

      <ul>
      <li>Create a <a href="http://styletil.es/">Style Tile</a> (template below) or an <a href="http://danielmall.com/articles/rif-element-collages/">Element Collage</a> and communicate with clients.</li>
      <li>Show a range of elements rather than a full layout to save time. Client gets a feeling for the look and feel and style, not the details or the ixd. Prevents client from focusing on the wrong things.</li>
      <li>Everything will change so don&#39;t believe in there being a &quot;final sketch&quot; in FW/PS.</li>
      </ul>

      <div class="img-examples">
      <a class="popup" href="images/style/style-tile.png"><img src="images/style/style-tile.png" alt=""></a>
      </div>

      <h3>Typography</h3>

      <ul>
      <li>Find a typeface for body type that fits the keywords</li>
      <li>Use a tool such as <a href="modularscale.com">Modular Scale</a> to set sizes of type and elements.</li>
      </ul>

      <h3>Overall Layout &amp; Styling</h3>

      <ul>
      <li>Always start with the overall layout. Disregard details at first. Boxes, negative space, hierarchy, user flows.</li>
      <li>&quot;…the design will look the same until you’ve made changes the structural gestalt.&quot; <a href="http://webdesign.tutsplus.com/articles/design-theory/the-gestalt-principle-design-theory-for-web-designers/">source</a>.</li>
      <li>Consider: The clarity of individual interface elements</li>
      <li>Consider: The relationship of every element to every other element</li>
      <li>Consider: The effect of the composition as a combined whole </li>
      </ul>

      <div class="img-examples">
      <a class="popup" href="images/style/three-steps.jpg"><img src="images/style/three-steps.jpg" alt=""></a>
      </div>

      <div class="ref">
      <h5>References</h5>
      <a href="http://styletil.es/">Style Tiles</a>
      <a href="http://danielmall.com/articles/rif-element-collages/">Element Collages</a>
      <a href="http://webdesign.tutsplus.com/articles/design-theory/the-gestalt-principle-design-theory-for-web-designers/
      ">Gestalt Principle</a>
      <a href="http://fadeyev.net/2013/08/14/visual-interface-design/">Three steps of successful layout</a>
      </div>

             {{content}}
      
      </section>
      <footer>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    
              <script>
                $(window).scroll(function() {
                  $('.animatedElement').each(function(){
                  var imagePos = $(this).offset().top;

                  var topOfWindow = $(window).scrollTop();
                    if (imagePos < topOfWindow+900) {
                      $(this).addClass("slideUp");
                    }
                  });
                });
              </script>
         
    
    <script>
        $(document).ready(function(){
          PositionHighlighter.setup();
          $('.popup').magnificPopup({ 
            type: 'image',
            gallery: {
              enabled: true, // set to true to enable gallery
              preload: [0,2], // read about this option in next Lazy-loading section
              navigateByImgClick: true,
              arrowMarkup: '<button title="%title%" type="button" class="mfp-arrow mfp-arrow-%dir%"></button>', // markup of an arrow button
              tPrev: 'Previous (Left arrow key)', // title for left button
              tNext: 'Next (Right arrow key)', // title for right button
              tCounter: '<span class="mfp-counter">%curr% of %total%</span>' // markup of counter
            }
          });
        });
          
    </script>
  </body>
</html>
